@keyframes appear {
    100% {
      opacity: 1;
    }
  }
  
  @keyframes move {
    10% {
      opacity: 1;
      offset-distance: 0%;
      transform: scale(1);
    }
    30% {
      box-shadow: -0.5rem 0 0.3rem var(--color, white);
    }
    70% {
      box-shadow: -0.5rem 0 0.3rem var(--color, white);
    }
    90% {
      opacity: 1;
      offset-distance: 100%;
      transform: scale(0.2);
      box-shadow: none;
    }
    100% {
      opacity: 0;
      offset-distance: 100%;
      transform: scale(0.2);
    }
  }
@font-face {
    font-family: roboto;
    src: url(./Fonts/Roboto-Medium.ttf);
}
*{
    margin: 0 auto;
}


body{
    background: url(./img/bg.gif) no-repeat center center fixed;   
    background-size: cover;
}
.container{
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 10vh;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5), 0 1px rgba(255, 255, 255, 0.24);
    z-index: 5;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}
.nav{
    width: 100%;
    margin: 0 auto;
   
}
.nav-menu{
    
    z-index: 10;
    list-style: none;
    display: flex;
    justify-content:space-between;
}
.nav-menu-obj{
    height:inherit;
   
}
.nav-menu-obj a{
    padding: 8px 12px;
    color: rgb(157, 15, 161);
    box-shadow: 0 3px  rgba(0, 0, 0, 0.1), 0 1px rgba(0, 0, 0, 0);
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;  
}
.nav-menu-obj a:hover{
   
    background-color: rgba(144, 135, 206, 0.3);
    box-shadow: 0 3px  rgba(0, 0, 0, 0.5), 0 1px rgba(0, 0, 0, 5);
    border-radius: 5%;
    
  
}
.contenedor-section{
    min-width: 100%;
    min-height: 100vh;
    display: block;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.section{
    border: 1px solid rgba(255, 255, 255, 0.2); ;
    background-color: rgba(0, 0, 0, 0.2);
    height: 40rem;
    width: 90%;
    position: relative;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.section-who{
    display: flex;
    
}
.datos-who{
    position: absolute;
    display:contents;
    
    
}
.datos-who-datos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(255, 255, 255, 0.2); ;
    
}
.datos-foto{
    overflow: hidden;
}
.foto{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.moon{
    width:250px;
    height:250px;
    margin-left: 5rem;
    border-radius:50%;
    margin-bottom: 8rem;
    overflow: hidden;
    offset-path: path('M.4 76.8C102-24.9 266.9-24.9 368.5 76.8c81.3 81.3 81.3 213.2 0 294.5-65.1 65.1-170.6 65.1-235.6 0-52.1-52.1-52.1-136.5 0-188.5 41.6-41.6 109.2-41.6 150.8 0 33.3 33.3 33.3 87.3 0 120.6-26.7 26.7-69.9 26.7-96.5 0-21.3-21.3-21.3-55.9 0-77.2 17.1-17.1 44.7-17.1 61.8 0 13.6 13.6 13.6 35.8 0 49.4-10.9 10.9-28.6 10.9-39.5 0-8.7-8.7-8.7-22.9 0-31.6 7-7 18.3-7 25.3 0');
    animation: move 12s linear infinite alternate-reverse;
}

